<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<sqls>

		<!--查询业务模块信息-->
		<sql name="query_biz_module">
			<![CDATA[
            SELECT 
                *
            FROM
                BIZ_MODULE
            WHERE
                ISDEL = 0
			]]>
		</sql>

		<!--查询模块用户信息-->
		<sql name="query_biz_user_module">
			<![CDATA[
            SELECT 
                *
            FROM
                BIZ_USER_MODULE
            WHERE
                ISDEL = 0
			]]>
		</sql>

		<!--查询业务用户信息-->
		<sql name="query_biz_user">
			<![CDATA[
            SELECT 
                *
            FROM
                BIZ_USER
            WHERE
                ISDEL = 0
			]]>
		</sql>

		<!--查询业务模块用户-->
		<sql name="query_biz_user_module_dto">
			<![CDATA[
            SELECT 
                um.*,
                u.USER_LOGON_NAME,
                u.USER_DISPLAY_NAME,
				u.USER_PASSWORD,
                u.TELEPHONE,
                u.MOBILEPHONE,
                u.EMAIL,
				u.IS_ENABLED,
				u.SEX
            FROM
                BIZ_USER_MODULE um
                    JOIN
                BIZ_USER u ON u.ID = um.USER_ID
            WHERE
                um.ISDEL = 0
			]]>
		</sql>

		<!--查询离态用户列表-->
		<sql name="query_biz_user_nonmodule">
			<![CDATA[
            SELECT 
                *
            FROM
                BIZ_USER t
            WHERE
                t.ISDEL = 0
                    AND t.ID NOT IN (SELECT 
                        um.USER_ID
                    FROM
                        BIZ_USER_MODULE um
                    WHERE
                        um.ISDEL = 0)
			]]>
		</sql>

		<!--查询无权限模块列表-->
		<sql name="query_user_non_modules">
			<![CDATA[
            SELECT 
                *
            FROM
                BIZ_MODULE t
            WHERE
                t.ISDEL = 0
                    AND t.ID NOT IN (SELECT 
                        um.MODULE_ID
                    FROM
                        BIZ_USER_MODULE um
                    WHERE
                        um.ISDEL = 0 AND um.USER_ID = '{0}')
			]]>
		</sql>

		<!--查询模块同步账号列表-->
		<sql name="query_biz_account">
			<![CDATA[
            SELECT 
                *
            FROM
                BIZ_ACCOUNT
            WHERE
                ISDEL = 0
			]]>
		</sql>

	</sqls>
</configuration>