<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<sqls>
		<!--查询全部机构信息-->
		<sql name="query_org_info">
			<![CDATA[
            SELECT 
                o.*, u.DISPLAY_NAME AS LeaderName
            FROM
                SYS_ORGANIZATION o
                    LEFT JOIN
                SYS_USER u ON o.Leader = u.ID
            WHERE
                o.ISDEL = 0
			]]>
		</sql>

		<!--查询用户信息-->
		<sql name="query_sysuser">
			<![CDATA[
            SELECT 
                u.*, ou.ORG_ID, o.ORG_NAME
            FROM
                SYS_USER u
                    left JOIN
                SYS_ORG_USER ou ON u.ID = ou.USER_ID
                    left JOIN
                SYS_ORGANIZATION o ON o.ID = ou.ORG_ID
            WHERE
                u.ISDEL = 0
			]]>
		</sql>

		<!--查询审计日志信息-->
		<sql name="query_syslog">
			<![CDATA[
            SELECT 
                `ID`,
                `USER_ID`,
                `USER_NAME`,
                `ORG_ID`,
                `ORG_NAME`,
                `SYSTEM`,
                `BROWSER`,
                `IP`,
                `OPERATION_TYPE`,
                `REQUEST_URL`,
				`REQUEST_METHOD`,
                `PARAMS`,
                CONVERT( `RESULT` USING UTF8) AS Result,
                CONVERT( `OLD_VALUE` USING UTF8) AS OldValue,
                CONVERT( `NEW_VALUE` USING UTF8) AS NewValue,
                `REMARK`,
                `ISDEL`,
                `CREATOR`,
                `CREATE_TIME`,
                `MODIFIER`,
                `MODIFY_TIME`,
				`VERSION_ID`
            FROM
                `SYS_LOG` WHERE 1 = 1 AND ISDEL=0
			]]>
		</sql>

		<!--查询全部角色信息-->
		<sql name="query_role_info">
			<![CDATA[
            SELECT 
                r.*, srg.ORG_ID
            FROM
                SYS_ROLE r
                    JOIN
                SYS_ROLE_ORG srg ON r.ID = srg.ROLE_ID
            WHERE
                1 = 1 AND r.ISDEL = 0 AND srg.ISDEL = 0
			]]>
		</sql>

		<!--查询角色菜单信息-->
		<sql name="query_role_menu_info">
			<![CDATA[
            SELECT * FROM SYS_ROLE_MENU WHERE ISDEL=0
			]]>
		</sql>

		<!--查询角色机构信息-->
		<sql name="query_role_org_info">
			<![CDATA[
            SELECT * FROM SYS_ROLE_ORG WHERE ISDEL=0
			]]>
		</sql>

		<!--查询角色用户信息-->
		<sql name="query_role_user_info">
			<![CDATA[
            SELECT * FROM SYS_ROLE_USER WHERE ISDEL=0
			]]>
		</sql>

		<!--查询全部菜单信息-->
		<sql name="query_menu_info">
			<![CDATA[
            SELECT * FROM SYS_MENU WHERE ISDEL=0
			]]>
		</sql>

		<!--查询菜单多语信息-->
		<sql name="query_menu_language_info">
			<![CDATA[
            SELECT * FROM SYS_MENU_LANGUAGE WHERE ISDEL=0
			]]>
		</sql>

		<!--查询全部字典信息-->
		<sql name="query_codetable_info">
			<![CDATA[
            SELECT * FROM SYS_CODE_TABLE WHERE ISDEL=0
			]]>
		</sql>

		<!--查询机构、用户树-->
		<sql name="query_org_user_tree_org">
			<![CDATA[
            SELECT 
                o.ID, o.ORG_NAME AS Name, 1 AS Type, o.SERIAL_NUMBER, o.PARENT_ID
            FROM
                SYS_ORGANIZATION o
            WHERE
                o.ISDEL = 0 AND o.ID = '{0}'
			]]>
		</sql>

		<!--查询机构、用户树-->
		<sql name="query_org_user_tree_user">
			<![CDATA[
            SELECT 
                u.ID, u.DISPLAY_NAME AS Name, 2 AS Type, u.SERIAL_NUMBER
            FROM
                SYS_USER u
                    LEFT JOIN
                SYS_ORG_USER ou ON u.ID = ou.USER_ID
            WHERE
                u.ISDEL = 0 AND ou.ISDEL = 0
                    AND ou.ORG_ID = '{0}'
			]]>
		</sql>

		<!--查询角色信息-->
		<sql name="query_sysimportconfig">
			<![CDATA[
            SELECT 
                *
            FROM
                SYS_IMPORT_CONFIG
            WHERE 1 = 1 AND ISDEL=0
			]]>
		</sql>

		<!--查询计划任务信息-->
		<sql name="query_sysschedulejob">
			<![CDATA[
            SELECT 
                *
            FROM
                SYS_SCHEDULE_JOB
            WHERE 1 = 1 AND ISDEL=0
			]]>
		</sql>

		<!--查询多语信息-->
		<sql name="query_syslanguage">
			<![CDATA[
            SELECT 
                *
            FROM
                SYS_LANGUAGE
            WHERE 1 = 1 AND ISDEL=0
			]]>
		</sql>

		<!--查询审计日志信息-->
		<sql name="query_syslog_ms">
			<![CDATA[
            SELECT 
                *
            FROM
                SYS_LOG WHERE 1 = 1 AND ISDEL=0
			]]>
		</sql>

		<!--查询通知公告信息-->
		<sql name="query_sysannouncement">
			<![CDATA[
            SELECT 
                ID,
                TITLE,
                '' CONTENT,
                TYPE,
                STATUS,
                REMARK,
                ISDEL,
                CREATOR,
                CREATE_TIME,
                MODIFIER,
                MODIFY_TIME,
				VERSION_ID
            FROM
                SYS_ANNOUNCEMENT WHERE 1 = 1 AND ISDEL=0
			]]>
		</sql>

		<!--查询公告列表-->
		<sql name="query_sys_announcement">
			<![CDATA[
            SELECT 
                ID,
                TITLE,
                '' CONTENT,
                TYPE,
                STATUS,
                REMARK,
                ISDEL,
                CREATOR,
                CREATE_TIME,
                MODIFIER,
                MODIFY_TIME,
                VERSION_ID
            FROM
                SYS_ANNOUNCEMENT
            WHERE
                1 = 1 AND ISDEL = 0 AND TYPE = 0
                    AND STATUS = 0
			]]>
		</sql>

		<!--查询通知列表-->
		<sql name="query_sys_notification">
			<![CDATA[
            SELECT 
                a.ID,
                a.TITLE,
                '' CONTENT,
                a.TYPE,
                a.STATUS,
                a.REMARK,
                a.ISDEL,
                a.CREATOR,
                a.CREATE_TIME,
                a.MODIFIER,
                a.MODIFY_TIME,
                a.VERSION_ID,
                e.STATUS READED
            FROM
                sys_announcement a
                    LEFT JOIN
                sys_addressee e ON e.BUSINESS_ID = a.ID
            WHERE
                a.ISDEL = 0 AND a.TYPE = 1
                    AND a.STATUS = 0
                    AND e.ISDEL = 0
                    AND e.USER_ID = '{0}'
			]]>
		</sql>

	</sqls>
</configuration>